### CSV file Handling
### Json File Handling

In [1]:
#CSV file --> Comma seperated values

In [1]:
filepath = "DataFiles/industry.csv"

In [15]:
import csv
li = []
def readCsvFile():
    with open(filepath,'r') as f:
        data = csv.reader(f)
        li = next(data)
        for i in data:
            li.append(i)
        print(data)
        print(li)
readCsvFile()

<_csv.reader object at 0x000001807F5038E0>
['Industry', ['Accounting/Finance'], ['Advertising/Public Relations'], ['Aerospace/Aviation'], ['Arts/Entertainment/Publishing'], ['Automotive'], ['Banking/Mortgage'], ['Business Development'], ['Business Opportunity'], ['Clerical/Administrative'], ['Construction/Facilities'], ['Consumer Goods'], ['Customer Service'], ['Education/Training'], ['Energy/Utilities'], ['Engineering'], ['Government/Military'], ['Green'], ['Healthcare'], ['Hospitality/Travel'], ['Human Resources'], ['Installation/Maintenance'], ['Insurance'], ['Internet'], ['Job Search Aids'], ['Law Enforcement/Security'], ['Legal'], ['Management/Executive'], ['Manufacturing/Operations'], ['Marketing'], ['Non-Profit/Volunteer'], ['Pharmaceutical/Biotech'], ['Professional Services'], ['QA/Quality Control'], ['Real Estate'], ['Restaurant/Food Service'], ['Retail'], ['Sales'], ['Science/Research'], ['Skilled Labor'], ['Technology'], ['Telecommunications'], ['Transportation/Logistics'], ['Other']]

In [2]:
import csv
def readCsvFile():
    with open(filepath,mode = 'r') as f:
        data = csv.DictReader(f)
        li = []
        for i in data:
            li.append(i)
        print(data)

for d in li:
    print(d)
readCsvFile()

NameError: name 'li' is not defined

In [5]:
import csv
fields = ['Name', 'Branch', 'Year', 'CGPA']
# data rows of csv file
rows = [['Nikhil', 'COE', '2', '9.0'],
        ['Sanchit', 'COE', '2', '9.1'],
        ['Aditya', 'IT', '2', '9.3'],
        ['Sagar', 'SE', '1', '9.5'],
        ['Prateek', 'MCE', '3', '7.8'],
        ['Sahil', 'EP', '2', '9.1']]

def writeDataIntoCsv():
    with open(filepath,'w') as f:
        csvW = csv.writer(f)
        csvW.writerow(fields)
        csvW.writerows(rows)
writeDataIntoCsv()

In [5]:
import csv
with open(filepath,mode = 'r') as f:
    data = csv.DictReader(f)
    li = []
    for i in data:
        li.append(i)
print(li)

[{'Name': 'Nikhil', 'Branch': 'COE', 'Year': '2', 'CGPA': '9.0'}, {'Name': 'Sanchit', 'Branch': 'COE', 'Year': '2', 'CGPA': '9.1'}, {'Name': 'Aditya', 'Branch': 'IT', 'Year': '2', 'CGPA': '9.3'}, {'Name': 'Sagar', 'Branch': 'SE', 'Year': '1', 'CGPA': '9.5'}, {'Name': 'Prateek', 'Branch': 'MCE', 'Year': '3', 'CGPA': '7.8'}, {'Name': 'Sahil', 'Branch': 'EP', 'Year': '2', 'CGPA': '9.1'}]

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv(filepath)

In [9]:
df

      Name Branch  Year  CGPA
0   Nikhil    COE     2   9.0
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     SE     1   9.5
4  Prateek    MCE     3   7.8
5    Sahil     EP     2   9.1

In [11]:
df.head()

      Name Branch  Year  CGPA
0   Nikhil    COE     2   9.0
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     SE     1   9.5
4  Prateek    MCE     3   7.8

In [12]:
df.tail()

      Name Branch  Year  CGPA
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     SE     1   9.5
4  Prateek    MCE     3   7.8
5    Sahil     EP     2   9.1

In [17]:
df.head(3)

      Name Branch  Year  CGPA
0   Nikhil    COE     2   9.0
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3

In [18]:
df.tail(2)

      Name Branch  Year  CGPA
4  Prateek    MCE     3   7.8
5    Sahil     EP     2   9.1

In [19]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [23]:
df.columns

Index(['Name', 'Branch', 'Year', 'CGPA'], dtype='object')

In [26]:
df.values

array([['Nikhil', 'COE', 2, 9.0],
       ['Sanchit', 'COE', 2, 9.1],
       ['Aditya', 'IT', 2, 9.3],
       ['Sagar', 'SE', 1, 9.5],
       ['Prateek', 'MCE', 3, 7.8],
       ['Sahil', 'EP', 2, 9.1]], dtype=object)

In [1]:
import json
file = "DataFiles/industry.csv"

In [5]:
with open("DataFiles/samplejson.json",'r') as f:
    data = json.load(f)
print(data)

{'emp_details': [{'emp_name': 'Shubham', 'email': 'ksingh.shubh@gmail.com', 'job_profile': 'intern'}, {'emp_name': 'Gaurav', 'email': 'gaurav.singh@gmail.com', 'job_profile': 'developer'}, {'emp_name': 'Nikhil', 'email': 'nikhil@geeksforgeeks.org', 'job_profile': 'Full Time'}]}